body{
  font-family:sans-serif;
  text-align: center;
  background-color:gold;
  text-transform:uppercase;
  padding:40px;
  border:20px;
  margin:20px;
  font-size:30px;
  

}
h1{
  color:dimgray;
  font-style:italic;
}
#button-start{
  border-radius:30%;
  border-color: red;
  background-color: green;
  text-transform:uppercase;
  text color: white;
  text size:50px;
  font-size: 40px;
}
#button-stop{
  border-radius:30%;
  border-color: red;
  background-color: green;
  text-transform:uppercase;
  text color: white;
  text size:50px;
  font-size:40px;
}
#button-reset{
  border-radius:30%;
  border-color: red;
  background-color: green;
  text-transform:uppercase;
  text color: white;
  text size:50px;
  font-size:40px;
}
#seconds{
  font-size:50px;
}
#tens{
  font-size: 50px;
}
